{% extends 'layout.html' %} {% block body %}


        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div id="Box">
                        <center><h3>Crop Stats</h3></center>
                        <hr>
                        <br>
                        <form method="post" action="/Yield">
                            
                              <div class="form-group">
                                <label
                                  for="season"
                                  style="text-transform: capitalize; font-weight: bold"
                                  >Choose Crop</label
                                >
                    
                                <select name="season" id="season" class="form-control">
                                  <option value="apple.csv">Apple</option>
                                  <option value="carrot.csv">Carrot</option>
                                  <option value="rice.csv">Rice</option>
                                  <option value="wheat.csv">Wheat</option>
                                  <option value="cotton.csv">Cotton</option>
                                  <option value="maize.csv">Maize</option>
                                  <option value="onion.csv">Onion</option>
                                  <option value="tomato.csv">Tomato</option>
                                </select>
                              </div>
                              
                    <br>
                              <div class="d-flex justify-content-center">
                                <button
                                  type="submit"
                                  class="btn btn-success"
                                  
                                >
                                  Predict
                                </button>
                              </div>
                          </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="Box1">
                        <center><h3>Output</h3></center>
                        <hr>
                        <br>
                        <img src="http://127.0.0.1:5000/static/result_stats.png" alt="" style="width: 100%;">
                        <!-- result_stats.png -->
                       <!-- <h3> {{prediction}}</h3> -->
                    </div>
                </div>
                
            </div>
        </div>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="http://127.0.0.1:5000/static/js/scripts.js"></script>
        
    </body>
</html>
